<div class="schedule">
	<span class="place-name-schedule">Camden</span>
    	<span class="schedule-header">Schedule</span>
    	<hr style="margin-top: 0px; margin-bottom: 7px; border: none; height: 2px; color: #505052; background-color:#505052; ">
    	<div class="colorbanner" style="background-color:#1ca6bc">
        	<p>August 2014</p>
    	</div>
    	<div class="table-responsive">
    		<table class="table table-hover">
        	<tr class="active">
            		<td>Date</td>
            		<td>Class</td>
            		<td>Time</td>
        	</tr>
        	<tr>
            		<td>Tuesday, August 26</td>
            		<td>Parent Empowerment Class</td>
            		<td>6:00-7:30pm</td>
		</tr>
		<tr>
            		<td>Tuesday, August 26</td>
            		<td>Parent Empowerment Class</td>
            		<td>6:00-7:30pm</td>
        	</tr>
    		</table>
	</div>
</div>
