{% extends "base.html" %}
{% load cms_tags %}
{% load static from staticfiles %}

{% block tagline %}
{%endblock%}
{% block base_content %}
<div class="container home-img hidden-xs">
    <img style="width: 100%" src="{% static 'website/img/stockfam.jpeg' %}"/>
</div>
<div class="container roundbottomright"
<div class="row">
    <div class="col-md-6">
        <form action="/calender/c/">
        <button type="submit" class="btn btn-Camden" >
                    <img class="hidden-xs" style="width: 50px; float: left" src="{% static 'website/img/Orange-Apple.png' %}"/>
                    <ul>
                        <li><a href="/calender/c/">Camden</a></li>
                        <li><a href="/calender/c/" style="font-size: 1rem;"><i class="glyphicon glyphicon-chevron-right white"></i> Schedule</a>
                    </ul>
        
                </button>
            </form>
    </div>
    <div class="col-md-6">
        <form action="/calender/m/">
        <button type="submit" class="btn btn-Middles">
                <img class="hidden-xs" style="width: 50px; float: left"src="{% static 'website/img/Red-Apple.png' %}"/>
                <ul>
                    <li><a href="/calender/m/">Middlesbrough</a></li>
                    <li><a href="/calender/m/" style="font-size: 1rem;"><i class="glyphicon glyphicon-chevron-right white"></i> Schedule</a>
                </ul>
            </button>
        </form>
    </div>
</div>
</div>

{% endblock %}
